body {
	margin: 0px;
}
/* PAGE TOP */
.page-top {
	width:100%;
	height:43px;
}
.topmenubar {
	width:100%;
	height:30px;
	background-color:#181818;
	margin:0px;
}
.topcontent {
	width:800px;;
	height:100%;
	margin: 0px auto 0px auto;
}
.topmenuitem{
	float:left;
	padding: 7px 5px 4px 5px;
	color:#d8d8d8;
	width:100px;
	margin-right:6px;
	text-align:center;
	font-family:"Trebuchet MS";
	font-weight: bold;
	background-color:#303030;
	overflow: hidden;
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/craksdark_zpsul74rl4p.png);
	border-left: 1px solid #181818;
	border-right: 1px solid #181818;
}

a.topmenuitem:link {
	text-decoration: none;
	color: #d8d8d8;
}
a.topmenuitem:visited {
	text-decoration: none;
	color: #d8d8d8;
}
a.topmenuitem:hover {
	text-decoration: none;
	color: #d8d8d8;
}
a.topmenuitem:active {
	text-decoration: none;
	color: #d8d8d8;
}
a.topmenuitem {
	text-decoration: none;
	color: #d8d8d8;
}
.topmenuitem:hover {
	cursor:pointer;
	padding-top:15px;
	border-bottom: 5px solid #380000;
}

/* PAGE CENTER */
.page-center {
	float:left;
	width:100%;
}

/* party divs */
#raid {
	width:650px;
	min-height:800px;
	padding:10px;
	border:0px solid #aaaaaa;
	float:left;
	margin-right:30px;
}
#rbparties {
	margin-top:0px;
	text-align:center;
	font-family:"Trebuchet MS";
	color:#680000;
	/*background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/rbback_zpsbdj3l2oa.png);*/
}
.party{
	width:550px;
	min-height:100px;
	padding:5px;
	padding-right:60px;
	border:1px solid #aaaaaa;
	overflow:hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 590px 100px !important;
}
.clearparty {
	margin-top:5px;
	margin-right:10px;
	margin-bottom:18px;
	width:20px;
	height:25px;
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/empty_zpslarmkm0s.png);
	float:top;
	background-color:white;
	opacity: .5;
}
.clearparty:hover {
	/*background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/emptyhover_zpsqbndpyct.png);*/
	opacity: 1;
	cursor:pointer;
}
.partytag1 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party1back_zps4dggfkrd.png);
}
.partytag2 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party2back_zpstso5i1vw.png);
}
.partytag3 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party3back_zpsfk7nlpwq.png);
}
.partytag4 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party4back_zpsjjvhflxi.png);
}
.partytag5 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party5back_zps2mxa45sm.png);
}
.partytag6 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party6back_zpsrggtpe0w.png);
}
.partytag7 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party7back_zpsjexceibi.png);
}
.partytag8 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party8back_zpsrk5u8q7x.png);
}
.partytag9 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party9back_zps3ekxgpie.png);
}
.partytag10 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party10back_zps274shaz0.png);
}
.partytag11 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party11back_zpsnz8bdqtw.png);
}
.partytag12 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party12back_zps4wsgaz9o.png);
}
.partytag13 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party13back_zpstfwzhpli.png);
}
.partytag14 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party14back_zps5bby0b7h.png);
}
.partytag15 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party15back_zps58caxdpl.png);
}
.partytag16 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party16back_zpsklg9g5kb.png);
}
.partytag17 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party17back_zpsf0ydeghp.png);
}
.partytag18 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party18back_zpsl6wv6a7k.png);
}
.partytag19 {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/party19back_zpsh3ocvpcj.png);
}
.type1{
	background-color:#282828;
}
.type2{
	background-color:#380000;
}
.type3{
	background-color:#FFCC33;
}
.type4{
	background-color:#003333;
}

/*central right side of page */
.picker {
	position:relative;
	margin-left:750px;
	/*float:left;*/
	width: 100%;
    width: -webkit-calc(100% - 900px);
    width: -moz-calc(100% - 900px);
    width: calc(100% - 900px);
	min-width:300px;
}
.colorpicker{
	margin-top:5px;
	margin-left:7px;
	width:10px; 
	height:10px; 
	position:relative; 
	float:top;
	border-radius: 2px;
    border: 1px solid #505050;
    opacity: .2;
}
.colorpicker:hover {
	opacity: 1;
	cursor:pointer;
}
/* organizer logo */
.orglogo{
	width:100%;
	text-align:center;
	overflow:show;
}
/* player container div */
#div0 {
	max-width:885px;
	min-height:120px;
	padding:10px;
	border:0px solid #aaaaaa;
	float:left;
}
.poolfixed{
	margin-top:80px;
	position:fixed;
	background-color:#f2f2f2;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: #505050 #505050 !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important; 
}
.poolrelative{
	position:relative;
}
/* buttons for organizer */
.orgbuttons {
	max-width:880px;
	min-height:24px;
	padding:10px;
	padding-bottom:20px;
	border:0px solid #aaaaaa;
	overflow:hidden;
	float:left;
}
.orgbutton {
	float:left;
	background-color:#282828;
	color:#d8d8d8;
	margin-left:10px;
	margin-bottom:5px;
	padding-top:20px;
	width:210px;
	height:40px;
	text-align:center;
	font-family:"Trebuchet MS";
}
.orgbutton:hover {
	background-color:#380000;
	color:#d8d8d8;
	cursor:pointer;
}
.selectedRaid{
	font-variant:small-caps;
	font-weight: bold;
	font-family: Trebuchet MS;
	font-size: x-large;
	text-shadow: 1px 2px 0px #fff, 2px 3px 0px rgba(0,0,0,0.15);
}
.selectedRaid{
	font-variant:small-caps;
	font-weight: bold;
	font-family: Trebuchet MS;
	font-size: x-large;
	text-shadow: 1px 2px 0px #fff, 2px 3px 0px rgba(0,0,0,0.15);
}
.lock {
	float:left;
	background-color:#282828;
	color:#d8d8d8;
	padding-top:5px;
	margin-right:15px;
	margin-left:3px;
	width:100px;
	height:25px;
	text-align:center;
	font-family:"Trebuchet MS";
	font-size:100%;
	-webkit-border-radius: 5px;
    border-radius: 5px; 
	
}
.lock:hover {
	background-color:#380000;
	color:#d8d8d8;
	cursor:pointer;
}
.unlock {
	float:left;
	background-color:#003333;#FFCC33;
	color:#d8d8d8;
	padding-top:5px;
	margin-right:15px;
	margin-left:3px;
	width:100px;
	height:25px;
	text-align:center;
	font-family:"Trebuchet MS";
	font-size:100%;
	-webkit-border-radius: 5px;
    border-radius: 5px; 
	
}
.unlock:hover {
	background-color:#FFCC33;
	color:#d8d8d8;
	cursor:pointer;
}
#resetall {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/reset_zpshzieojzm.png);
}
#save {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/save_zps2tzgmq21.png);
}
#new {
	background-image:url(http://i249.photobucket.com/albums/gg211/ghostprophet/resetsavebuttonbacknew_zpsnjoy3hp5.png);
}

/* all professions style */
.player{
	background-size: 100px 100px !important;
	width:85px;
	height:85px;
	padding:7px;
	border:1px solid #aaaaaa;
	float:left;
	margin:2px;
	color:#F0F0F0;
	z-index: 3;
	cursor:pointer;
}
.player:hover{
	box-shadow: inset 0px 0px 20px 5px rgba(0,100,200,0.5);
	-moz-box-shadow: inset 0px 0px 20px 5px rgba(0,100,200,0.5);
	-webkit-box-shadow: inset 0px 0px 20px 5px rgba(0,100,200,0.5);
}
/* player inner divs */
.name {
background:url(http://i249.photobucket.com/albums/gg211/ghostprophet/nameback_zps9ov8jqdl.png); 
background-repeat: repeat-x; 
margin:-8px;
height: 20px;
text-align: center;
padding-top: 3px;
font-size:75%;
}
.EXE{
	background: url(http://i249.photobucket.com/albums/gg211/ghostprophet/exelogosmalldarkred_zpshh3wgngo.png) no-repeat left top, url(http://i249.photobucket.com/albums/gg211/ghostprophet/nameback_zps9ov8jqdl.png) repeat-x left top;
}
.build{
background:url(http://i249.photobucket.com/albums/gg211/ghostprophet/buildback_zpshfheb5qe.png); 
background-repeat: repeat-x; 
margin-top:73px;
margin-left:-8px;
margin-right:-8px;
height: 13px;
text-align: center;
padding-top: -2px;
font-size: 60%;
}
.alt{
	z-index: 100;
	float:left;
	width:30px;
	height:30px;
	background-size: 30px 30px !important;
	background-repeat: no-repeat;
	background-color: white;
}
.alt:hover {
	opacity: .9;
}
#returnplayer{
	margin:2px;
	float:left;
	z-index: -10;
	width:85px;
	height:85px;
	padding:7px;
	border:1px solid white;
	background:url(http://i249.photobucket.com/albums/gg211/ghostprophet/returnhere_zpsoo7vg5s0.png);
	background-size: 100px 100px !important;
}
/* core professions */
.warrior {
	background:url(https://wiki.guildwars2.com/images/c/c8/Warrior_icon.png);
}
.guardian{
	background:url(https://i2.wp.com/wiki.guildwars2.com/images/c/cc/Guardian_icon.png);
}
.necromancer{
	background:url(http://wiki.guildwars2.com/images/6/62/Necromancer_icon.png);
}
.engineer{
	background:url(https://wiki.guildwars2.com/images/thumb/4/41/Engineer_icon.png/120px-Engineer_icon.png);
}
.ranger{
	background:url(https://wiki.guildwars2.com/images/9/9c/Ranger_icon.png);
}
.mesmer{
	background:url(http://wiki.guildwars2.com/images/3/3a/Mesmer_icon.png);
}
.thief {
	background:url(http://wiki.guildwars2.com/images/d/d8/Thief_icon.png);
}
.elementalist {
	background:url(https://wiki.guildwars2.com/images/a/a2/Elementalist_icon.png);
}
.revenant{
	background:url(https://wiki.guildwars2.com/images/8/89/Revenant_icon.png);
}

 /* specialziations */
 .berserker{
	/*background:url(https://wiki.guildwars2.com/images/thumb/8/80/Berserker_tango_icon_200px.png/120px-Berserker_tango_icon_200px.png);*/
	background:url(/assets/images/120px-Berserker_tango_icon_200px.png);
 }
 .dragonhunter{
	/*background:url(http://wiki.guildwars2.com/images/thumb/1/1f/Dragonhunter_tango_icon_200px.png/120px-Dragonhunter_tango_icon_200px.png);*/
	background:url(/assets/images/120px-Dragonhunter_tango_icon_200px.png);
 }
 .reaper{
	/*background:url(https://wiki.guildwars2.com/images/thumb/9/95/Reaper_tango_icon_200px.png/120px-Reaper_tango_icon_200px.png);*/
	background:url(/assets/images/120px-Reaper_tango_icon_200px.png);
 }
 .scrapper{
	/*background:url(https://wiki.guildwars2.com/images/thumb/3/3a/Scrapper_tango_icon_200px.png/120px-Scrapper_tango_icon_200px.png);*/
	background:url(/assets/images/120px-Scrapper_tango_icon_200px.png);
 }
 .druid{
	/*background:url(http://wiki.guildwars2.com/images/thumb/6/6d/Druid_tango_icon_200px.png/120px-Druid_tango_icon_200px.png);*/
		background:url(/assets/images/120px-Druid_tango_icon_200px.png);
 }
 .chronomancer{
	/*background:url(https://wiki.guildwars2.com/images/thumb/8/8b/Chronomancer_tango_icon_200px.png/120px-Chronomancer_tango_icon_200px.png);*/
	background:url(/assets/images/120px-Chronomancer_tango_icon_200px.png);
 }
 .daredevil{
	/*background:url(https://wiki.guildwars2.com/images/thumb/c/ca/Daredevil_tango_icon_200px.png/120px-Daredevil_tango_icon_200px.png);*/
	background:url(/assets/images/120px-Daredevil_tango_icon_200px.png);
 }
 .tempest{
	/*background:url(https://wiki.guildwars2.com/images/thumb/9/90/Tempest_tango_icon_200px.png/120px-Tempest_tango_icon_200px.png);*/
	background:url(/assets/images/120px-Tempest_tango_icon_200px.png);
 }
 .herald{
	/*background:url(https://wiki.guildwars2.com/images/thumb/c/c7/Herald_tango_icon_200px.png/120px-Herald_tango_icon_200px.png);*/
	background:url(/assets/images/120px-Herald_tango_icon_200px.png);
 }
 
 /* profession not specified */
 .noclass {
	background:url(/assets/images/noclass.png);
}

/* dialog box */
.black_overlay{
               position: fixed;
               top: 0%;
               left: 0%;
               width: 100%;
               height: 100%;
               background-color: black;
               z-index:1001;
               -moz-opacity: 0.8;
               opacity:.80;
               filter: alpha(opacity=80);
}
.white_content {
               position: fixed;
               top: 25%;
               left: 30%;
               width: 40%;
               height: 50%;
               padding: 16px;
               border-radius: 15px;
               border: 1px solid black;
               background-color: white;
               z-index:1002;
               overflow: auto;
}

.login{
	top:calc(50% - 50px);
	left:calc(50% - 150px);
	width:300px;
	height:100px;
	font-family:"Trebuchet MS";
}
.addBuild{
	top:calc(50% - 220px);
	left:calc(50% - 210px);
	width:440px;
	height:420px;
	font-family:"Trebuchet MS";
}
.addPlayer{
	top:calc(50% - 120px);
	left:calc(50% - 220px);
	width:440px;
	height:240px;
	font-family:"Trebuchet MS";
}
.raidDialog{
	top:calc(50% - 100px);
	left:calc(50% - 200px);
	width:400px;
	height:200px;
	font-family:"Trebuchet MS";
}
.alterBuildDialog{
	top:calc(50% - 70px);
	left:calc(50% - 150px);
	width:300px;
	height:140px;
	font-family:"Trebuchet MS";	
}

/* links */
a:link {
	text-decoration: none;
	color: #666;
}
a:visited {
	text-decoration: none;
	color: #666;
}
a:hover {
	text-decoration: none;
	color: #8EA4A3;
}
a:active {
	text-decoration: none;
	color: #596173;
}
a {
	font-weight: bold;
}

/* footer */
.page-bottom {
	text-align:center;
	font-family:"Trebuchet MS";
	font-size:60%;
	background-color:#d8d8d8;
	color:#c0c0c0;
	clear: both;
    position: relative;
    height: 290px;
    margin-top: -30px;
	margin-bottom:0px;
}
/* placeholder */
.up {
	float:left;
	width:100%;
	color: #d8d8d8;
	height:100px;
	background-color:#282828;
}
.left {
	margin-top:20px;
	padding:20px;
	float:left;
	width:375px;
	color: #282828;
	height:120px;
	/*background-color:red;*/
}
.right {
	margin-top:20px;
	margin-left:80px;
	float:left;
	color: #282828;
	text-align:left;
	width:415px;
	height:170px;
	/*background-color:red;*/
}



input[type=submit] {
    padding:5px 15px; 
    background:#282828; 
	color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=text] {
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=password] {
	-webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=button] {
    padding:5px 15px; 
    background:#282828; 
	color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* new ones */

#bbuildlist{
	float:left;
	position:relative;
	margin-top:10px;
	margin-left:10%;
	margin-bottom:50px;
	overflow:show;
}

.bbuild {
	float:left;
	position:relative;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
	height:50px;
	background-color:green;
	border:1px solid #c0c0c0;
	overflow:show;
}
.bbuildprofession{
	float:left;
	position:relative;
	overflow:hidden;
	width:130px;
	height:50px;
	background-size: 50px 50px !important;
	background-repeat: no-repeat;
	background-position: 40px 0px; 
	text-align: center;
}

.bbuildnotes{
	position:relative;
	float:left;
	height:0px;
	width:500px;
	text-align: center;
}
.addButton{
	float:left;
	position:relative;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
	height:40px;
	background-color:#380000;
	border:1px solid #c0c0c0;
	overflow:show;
	width:100%;
	padding-top:20px;
	font-family:"Trebuchet MS";
	font-size:120%;
	color:#d8d8d8;
}
.addButton:hover {
	cursor:pointer;
	opacity: .7;
}
td {
    min-height: 50px;
	width:150px;
    vertical-align: middle;
	text-align: center;
	background-color:#d8d8d8;
}
th{
	height:30px;
	background-color: #282828;
	color:#c0c0c0;
}
table, th, td{
	border: 1px solid white;
	border-spacing:0px;
	font-family:"Trebuchet MS";
}
.rukica{
	cursor:pointer;
}
a.footermenu:link {
	text-decoration: none;
	color: #d8d8d8;
}
a.footermenu:visited {
	text-decoration: none;
	color: #d8d8d8;
}
a.footermenu:hover {
	text-decoration: none;
	color: #FFCC33;
}
a.footermenu:active {
	text-decoration: none;
	color: #d8d8d8;
}
a.footermenu {
	text-decoration: none;
	color: #d8d8d8;
}