<!-- This is the template that defines list of builds -->
<tr>
	<td><div class="{{build.profession}} bbuildprofession"></div></td>
	<td><a id="buildtemplate1" class="rukica" >{{build.buildname}}</a></td>
	<td><a href="{{build.buildlink}}" target="_blank">build link</a></td>
	<td>{{build.guildapproved === true ? "YES" : "NO"}}
	</td>
	<td>{{build.owner.name}}</td>
	<td>{{build.created | date:'yyyy-MM-dd'}}</td>
	<td><div class="bbuildnotes"></div>{{build.notes}}</td>
</tr>