@(message: String)

@main("Exe Raid Organizer") {
	
	<div class="page-center" ng-app="raidOrganizer" ng-controller="buildsController">
	
		<div class="orglogo">
			<img src="@routes.Assets.versioned("images/raidbuilds_zps71zlk4fm.png")">
		</div>
		<div id="bbuildlist">
			<!-- OUTDATED
			<table>
				<tbody>
					<tr>
						<th><b>PROFESSION</b></th>
						<th><b>NAME</b></th>
						<th><b>LINK</b></th>
						<th><b>GUILD CHECK</b></th>
						<th><b>OWNER</b></th>
						<th><b>CREATED</b></th>
						<th><b>NOTES</b></th>
					</tr>
					<builds-div build="build" ng-repeat="build in builds" ></builds-div>
				</tbody>
			</table>
			 --> 
			
			<table ng-table="builds" class="table" show-filter="true">
			<tr>
						<th>SEARCH FOR: </th>
						<th colspan="6" style="background-color:white;"><input type="text" ng-model="search.$" style="display:table-cell; width:100%; height:100%;"/></th>
					</tr>
					<tr>
						<th><b>PROFESSION</b></th>
						<th><b>NAME</b></th>
						<th><b>LINK</b></th>
						<th><b>GUILD CHECK</b></th>
						<th><b>OWNER</b></th>
						<th><b>CREATED</b></th>
						<th><b>NOTES</b></th>
					</tr>
    			<tr ng-repeat="build in builds | filter:search">           			
           			<td><div class="{{build.profession}} bbuildprofession"></div></td>
					<td><a id="buildtemplate{{build.id}}" class="rukica" ng-click="editBuild(build.id,build.profession,build.buildname,build.buildlink,build.guildapproved,build.notes)">{{build.buildname}}</a></td>
					<td><a href="{{build.buildlink}}" target="_blank">build link</a></td>
					<td>{{build.guildapproved === true ? "YES" : "NO"}}
					</td>
					<td>{{build.owner.name}}</td>
					<td>{{build.created | date:'yyyy-MM-dd'}}</td>
					<td><div class="bbuildnotes"></div>{{build.notes}}</td>
    			</tr>
    			<tr>
    				<td colspan="7"><div id="addBuild"  class="addButton" ng-click="addBuildDialog.show=true"><b>+ ADD</b></div></td>
    			</tr>
			</table>
		</div>
		
		<!-- Add Build -->
		<div class="white_content addBuild" ng-show="addBuildDialog.show">
			<div width="100%">
			Build Name:&nbsp;&nbsp;<input type="text" ng-model="newBuild.buildname">
			</div>
			<div width="100%" style="padding-top:5px;">
			Build Link:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="newBuild.buildlink">
			</div>
			<br>
			<div width="100%">
			<select id="profession" ng-model="newBuild.profession">
				<option value="1" selected="selected">select profession</option>
				<option value="warrior" >warrior</option>
				<option value="guardian" >guardian</option>
				<option value="revenant">revenant</option>
				<option value="thief">thief</option>
				<option value="engineer">engineer</option>
				<option value="ranger">ranger</option>
				<option value="elementalist">elementalist</option>
				<option value="necromancer">necromancer</option>
				<option value="mesmer">mesmer</option>
			</select>

			<select id="guildApproved"  ng-model="newBuild.guildapproved">
				<option value="false" selected="selected">Not guild approved</option>
				<option value="true" >Guild approved</option>
			</select>
			</div>
			<br>
			<div width="100%" style="padding-top:5px;">
			Build Notes:&nbsp;&nbsp;<textarea rows="14" cols="54" ng-model="newBuild.notes" ></textarea>
			</div>
			<div style="width:100%;padding-top:5px; color:red;" ng-show="addBuildDialog.error">
			Build name and link must not be empty.<br>Also, you must choose a profession. MKay?
			</div>
			<div width="100%" style="position:absolute;bottom:5px;right:5px">
				<input type="button" value="Add" ng-click="addBuild()">
				<input type="button" value="Cancel" ng-click="addBuildDialog.show=false">
			</div>
		</div>
		
		<div id="fade" class="black_overlay" ng-show="addBuildDialog.show"></div>
		
		<!-- Edit Build -->
		<div class="white_content addBuild" ng-show="editBuildDialog.show">
			<div width="100%">
			Build Name:&nbsp;&nbsp;<input type="text" ng-model="editingBuild.buildname">
			</div>
			<div width="100%" style="padding-top:5px;">
			Build Link:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="editingBuild.buildlink">
			</div>
			<br>
			<div width="100%">
			<select id="profession" ng-model="editingBuild.profession">
				<option value="1" selected="selected">select profession</option>
				<option value="warrior" >warrior</option>
				<option value="guardian" >guardian</option>
				<option value="revenant">revenant</option>
				<option value="thief">thief</option>
				<option value="engineer">engineer</option>
				<option value="ranger">ranger</option>
				<option value="elementalist">elementalist</option>
				<option value="necromancer">necromancer</option>
				<option value="mesmer">mesmer</option>
			</select>

			<select id="guildApproved"  ng-model="editingBuild.guildapproved">
				<option value="false" selected="true">Not guild approved</option>
				<option value="true" >Guild approved</option>
			</select>
			</div>
			<br>
			<div width="100%" style="padding-top:5px;">
			Build Notes:&nbsp;&nbsp;<textarea rows="14" cols="54" ng-model="editingBuild.notes" ></textarea>
			</div>
			<div style="width:100%;padding-top:5px; color:red;" ng-show="editBuildDialog.error">
			Build name and link must not be empty.<br>Also, you must choose a profession. MKay?
			</div>
			<div width="100%" style="position:absolute;bottom:5px;right:5px">
				<input style="background-color:red;" type="button" value="Delete Build" ng-click="deleteBuild()">
				<input type="button" value="Save" ng-click="saveEditedBuild()">
				<input type="button" value="Cancel" ng-click="editBuildDialog.show=false">
			</div>
		</div>
		
		<div id="fade" class="black_overlay" ng-show="editBuildDialog.show"></div>
	
	
		<!-- login dialog -->
		<div class="white_content login" ng-show="loginDialog.show">
			<div width="100%">
			Username:&nbsp;<input type="text" ng-model="loginDialog.username">
			</div>
			<div width="100%" style="padding-top:5px;">
			Password:&nbsp;&nbsp;<input type="password" ng-model="loginDialog.password">
			</div>
			<div style="width:100%;padding-top:5px; color:red;" ng-show="loginDialog.error">
			Wrong username or password
			</div>
			<div width="100%" style="position:absolute;bottom:5px;right:5px">
				<input type="button" value="Login" ng-click="login()">
				<input type="button" value="Cancel" ng-click="loginDialog.show=false">
			</div>
		</div>
		
		<div id="fade" class="black_overlay" ng-show="loginDialog.show"></div>
		
	</div>

}
