@(id: String)

@main("Exe Raid Organizer") {
	<script>
	var id = @id;
	</script>
	<div id="indexdiv" class="page-center" ng-app="raidOrganizer" ng-controller="raidController">
		<!--left side-->
		<div id="raid">
			<div id="rbparties" class="squaredrbstyle">
				<p align="center">
				<span ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]">
					<input type="checkbox" title="Check to display party {{i}}." class="rukica" ng-model="raid.parties[i].displayed" ng-disabled="raid.parties[i].roles.length>0" ng-click="toggleParty()">
					<span ng-if="i%5==0">&nbsp;&nbsp;&nbsp;&nbsp;</span>						
				</span>
				</p>
			</div>
			
			<party-div ng-repeat="party in raid.parties.slice(1)" party="party" resetparty="resetparty(party.orderno)"></party-div>
		
		</div>

		<!--right side -->
		<div class="picker">
			<div class="orglogo">
				<img src="http://i249.photobucket.com/albums/gg211/ghostprophet/titleimg_zpshkjo5ofj.png">
			</div>
			<div class="selectedRaid">&#x2623  {{raid.name}}  &#x2623</div>
			<!-- Organizer Buttons -->
			<div class="orgbuttons">
				<div id="resetall" class="orgbutton" ng-click="resetRaid()"></div>
				<div id="save" class="orgbutton" ng-click="saveRaid()"></div>
				<div id="new" class="orgbutton" ng-click="newRaid()"></div>
				<div id="dsa" class="orgbutton">Placeholder</div>
			</div>
			
			<!-- List of players -->
			<div id="div0" ng-class="poolfix">
				<div style="height:35px;overflow:hidden;font-family:'Trebuchet MS';font-size:110%;color:#222222">
					<b>Search for:</b>&nbsp;<input type="text" ng-model="search.$" style="display:table-cell; width:250px; height:30ps;"/>
					<div id="lockpool" ng-class="locked" ng-click="lock()">{{locked | uppercase}}</div>
				</div>
				<div id="returnplayer" ondrop="drop(event, 0)" ondragover="allowDrop(event)" ></div>
				<player-div party="raid.parties[0]" search="search"></player-div>
			</div>
		</div>
		
		<!--Dialog Box Items-->
		<div id="edit-user-light" class="white_content" ng-show="editPlayerDialog.show">
			<center>
				Player Name: <input type="text" name="newname" id="newName">
				<br><br>
				<select id="profession" onchange="configureDropDownLists(this,document.getElementById('buildtemplate'))">
					<option value="1" selected="selected">select profession</option>
					<option value="warrior" >warrior</option>
					<option value="guardian" >guardian</option>
					<option value="revenant">revenant</option>
					<option value="thief">thief</option>
					<option value="engineer">engineer</option>
					<option value="ranger">ranger</option>
					<option value="elementalist">elementalist</option>
					<option value="necromancer">necromancer</option>
					<option value="mesmer">mesmer</option>
				</select>
					<select id="buildtemplate">
					<option value="1" selected="selected">select build</option>
				</select>
				<br><br>
				Or enter build manualy<br><br>
				Build Name:&nbsp; <input type="text" name="buildname" id="buildName"><br><br>
				Build Link: &nbsp;&nbsp;&nbsp;<input type="text" name="buildlink" id="buildLink"><br><br>
				<br><br>
				<input type="submit" value="Submit" onclick="javascript:editPlayer('newName', 'buildName', 'buildLink','profession','buildtemplate'); return false;">
				<br><br>
				<input type="submit" value="Cancel" ng-click = "editPlayerDialog.show=false">
				<!--<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>-->
			</center>
		</div>
		<div id="fade" class="black_overlay" ng-show="editPlayerDialog.show"></div>
		
		
		<!-- edit player build dialog -->
		<div id="setmainlight" class="white_content alterBuildDialog" ng-show="editPlayerBuildDialog.show">
			<div width="100%">
			Do you want to change the build of player {{editPlayerBuildDialog.role.player.name}} in this raid
			from {{editPlayerBuildDialog.role.builds[editPlayerBuildDialog.role.buildindex].buildname + " (" + editPlayerBuildDialog.role.builds[editPlayerBuildDialog.role.buildindex].profession + ")"}} to
			{{editPlayerBuildDialog.role.builds[editPlayerBuildDialog.changeMeToAlt].buildname + " (" + 
				editPlayerBuildDialog.role.builds[editPlayerBuildDialog.changeMeToAlt].profession + ")" }} ?
			</div>
			<div width="100%" style="position:absolute;bottom:5px;right:5px"> 
				<input type="button" value="Change" ng-click="changeBuild()" >
				<input type="button" value="Cancel" ng-click="editPlayerBuildDialog.show=false">
			</div>
		</div>
		
		<div id="fade" class="black_overlay" ng-show="editPlayerBuildDialog.show"></div>
		
		<!-- login dialog -->
		<div class="white_content login" ng-show="loginDialog.show">
			<div width="100%">
			Username:&nbsp;<input type="text" ng-model="loginDialog.username">
			</div>
			<div width="100%" style="padding-top:5px;">
			Password:&nbsp;&nbsp;<input type="password" ng-model="loginDialog.password">
			</div>
			<div style="width:100%;padding-top:5px; color:red;" ng-show="loginDialog.error">
			Wrong username or password
			</div>
			<div width="100%" style="position:absolute;bottom:5px;right:5px">
				<input type="button" value="Login" ng-click="login()">
				<input type="button" value="Cancel" ng-click="loginDialog.show=false">
			</div>
		</div>

		<div id="fade" class="black_overlay" ng-show="raidDialog.show"></div>
		
		<div class="white_content raidDialog" ng-show="raidDialog.show">
			<div width="100%">
			Name:&nbsp;<input type="text" ng-model="raid.name">
			</div>
			<div width="100%" style="padding-top:5px;">
			Notes:
			</div>
			<div width="100%" style="padding-top:5px;">
			<textarea rows="8" cols="54" ng-model="raid.notes"></textarea>
			</div>
			<div width="100%" style="position:absolute;bottom:5px;right:5px">
				<input type="button" value="Save" ng-click="saveRaidNoLogin()">
				<input type="button" value="Cancel" ng-click="raidDialog.show=false">
			</div>
		</div>
		
		<div id="fade" class="black_overlay" ng-show="raidDialog.show"></div>
		
			<!-- Development items 
		<div >
			<input type="file" id="fileUpload"/>
			<input type="button" id="upload" value="Upload" />
			<br>
			<input type="file" id="buildUpload"/>
			<input type="button" id="uploadBuilds" value="UploadBuilds" />
			<br>
			<input type="button" id="check" value="Check" />
			<input type="button" id="check2" value="Check2" onclick="setmaindialog(this)"/>
			<hr>
			<div id="dvCSV"></div>
			<hr>
			<div id="btCSV"></div>
			<hr>
		</div>
		-->
	</div>
}
