<!-- This is the template that defines a party with a list of players inside it -->
<div ng-show="party.displayed">
<div style="width:25px; height:110px; position:relative; float:left;">
	<div title="Reset party." id="cleardiv1" class="clearparty" ng-click="resetparty()"></div>
	<div class="colorpicker type1" title="Set this party as melee." ng-click="changePartyType(1)"></div>
	<div class="colorpicker type2" title="Set this party as ranged." ng-click="changePartyType(2)"></div>
	<div class="colorpicker type3" title="Set this party as focus." ng-click="changePartyType(3)"></div>
	<div class="colorpicker type4" title="Set this party as special." ng-click="changePartyType(4)"></div>
</div>
<div id="div{{party.orderno}}" class="party type{{party.partytype}} partytag{{party.orderno}}" ondrop="drop(event)" ondragover="allowDrop(event)">
	<div id="{{x.id}}" class="player {{x.builds[x.buildindex].profession}}" 
	ng-repeat="x in party.roles | orderBy: 'orderno'" draggable="true" ondragstart="drag(event)" ondrop="dropOnPlayer(event)">
		<div id="name{{x.id}}" class="name {{x.player.guild}}">{{x.player.name}}</div>
		<div id="alts" style="float:left;height:23px;margin-top:48px;z-index:-1000;margin-left:0px;">
			<div ng-if="x.builds[(x.buildindex+1)%3].profession != 'none' && x.builds[(x.buildindex+2)%3].profession != 'none'">
				<div id="player{{x.id}}alt1" class="alt {{x.builds[(x.buildindex+1)%3].profession}}" ng-click="changeMe(x, 0, (x.buildindex+1)%3)"></div>
				<div id="player{{x.id}}alt2" class="alt {{x.builds[(x.buildindex+2)%3].profession}}" ng-click="changeMe(x, 0, (x.buildindex+2)%3)" style="margin-left:25px;"></div>
			</div>
			<div ng-if="x.builds[(x.buildindex+1)%3].profession != 'none' && x.builds[(x.buildindex+2)%3].profession == 'none'">
				<div id="player{{x.id}}alt1" class="alt {{x.builds[(x.buildindex+1)%3].profession}}" ng-click="changeMe(x, 0, (x.buildindex+1)%3)"></div><!-- napravi setMain -->
			</div>
			<div ng-if="x.builds[(x.buildindex+1)%3].profession == 'none' && x.builds[(x.buildindex+2)%3].profession != 'none'">
				<div id="player{{x.id}}alt2" class="alt {{x.builds[(x.buildindex+2)%3].profession}}" ng-click="changeMe(x, 0, (x.buildindex+2)%3)"></div>
			</div>
		</div>
		<div id="build{{x.id}}" class="build"><a href="{{x.builds[x.buildindex].buildlink}})" target="_blank">{{x.builds[x.buildindex].buildname}}</a></div>
	</div>
</div>
</div>
<br ng-show="party.displayed">