@(message: String)

@main("Exe Raid Organizer") {
	
	<div class="page-center" ng-app="raidOrganizer" ng-controller="playersController">
	
		<div class="orglogo">
			<img src="@routes.Assets.versioned("images/playerslogo.png")">
		</div>
		<div id="bbuildlist">

			
			<table ng-table="players" class="table" show-filter="true">
			<tr>
						<th>SEARCH FOR: </th>
						<th colspan="8" style="background-color:white;"><input type="text" ng-model="search.$" style="display:table-cell; width:100%; height:100%;"/></th>
					</tr>
					<tr>
						<th><b>ACTIVE (<span ng-bind="numberOfActive"></span>/<span ng-bind="numberOfPlayers"></span>)</b></th>
						<th><b>GUILD</b></th>
						<th><b>NAME</b></th>
						<th><b>MAIN</b></th>
						<th><b>MAIN BUILD</b></th>
						<th><b>ALT1</b></th>
						<th><b>ALT1 BUILD</b></th>
						<th><b>ALT2</b></th>
						<th><b>ALT2 BUILD</b></th>
					</tr>
    			<tr ng-repeat="player in players | filter:search"> 
    				<td>{{player.active === true ? "YES" : "NO"}}</td>
    			    <td>{{player.guild}}</td>    
    			    <td><a class="rukica" ng-click="editPlayer(player)">{{player.name}}</a></td>  			
           			<td><div class="{{player.build1.profession}} bbuildprofession"></div></td>
					<td><a class="rukica" href="{{player.build1.buildlink}}" target="_blank">{{player.build1.buildname}}</a></td>	
					<td><div class="{{player.build2.profession}} bbuildprofession"></div></td>
					<td><a class="rukica" href="{{player.build2.buildlink}}" target="_blank">{{player.build2.buildname}}</a></td>
					<td><div class="{{player.build3.profession}} bbuildprofession"></div></td>
					<td><a class="rukica" href="{{player.build3.buildlink}}" target="_blank">{{player.build3.buildname}}</a></td>
    			</tr>
    			<tr>
    				<td colspan="9"><div id="addPlayer" class="addButton" ng-click="addPlayerDialog.show=true"><b>+ ADD</b></div></td>
    			</tr>
			</table>
		</div>
		
		<!-- Add Player -->
		<div class="white_content addPlayer" ng-show="addPlayerDialog.show">
			<div width="100%">
				<div style="float:left; width:30%;">Name:</div>
				<div style="float:left; width:70%;"><input type="text" ng-model="newPlayer.name"></div>
			</div>
			<div width="100%" style="padding-top:5px;clear: left;">
				<div style="float:left; width:30%;">Guild:</div>
				<div style="float:left; width:70%;"><input type="text" ng-model="newPlayer.guild"></div>
			</div>
			<div width="100%" style="padding-top:5px;clear: left;">
			<div style="float:left; width:30%;">Ingame Name:</div><div style="float:left; width:70%;"><input type="text" ng-model="newPlayer.ingamename"></div>
			</div>
			<br>
			<div width="100%" style="padding-top:5px;clear: left;">
				<div style="float:left; width:15%;">Main:</div>
				<div style="float:left; width:85%;">
					<select ng-model="newPlayerBuild.build1Id">
	        			<option ng-repeat="build in builds" value="{{build.id}}" >{{build.profession}} : {{build.buildname}}</option>
	      			</select>
      			</div>
      		</div>
      		<div width="100%" style="padding-top:5px;clear: left;">
      			<div style="float:left; width:15%;">Alt 1:</div>
				<div style="float:left; width:85%;">
      			<select ng-model="newPlayerBuild.build2Id">
        			<option ng-repeat="build in builds" value="{{build.id}}">{{build.profession}} : {{build.buildname}}</option>
      			</select>
      			</div>
      		</div>
      		<div width="100%" style="padding-top:5px;clear: left;">
      			<div style="float:left; width:15%;">Alt 2:</div>
				<div style="float:left; width:85%;">
      			<select ng-model="newPlayerBuild.build3Id">
        			<option ng-repeat="build in builds" value="{{build.id}}">{{build.profession}} : {{build.buildname}}</option>
      			</select>
      			</div>
			</div>
			<br>
			<div style="width:100%;padding-top:5px; color:red;" ng-show="addPlayerDialog.error">
			Name, Guild and Ingame name must not be blank.<br>Main profession can not be set to none. MKay?
			</div>
			<div width="100%" style="position:absolute;bottom:5px;right:5px">
				<input type="button" value="Add" ng-click="addPlayer()">
				<input type="button" value="Cancel" ng-click="addPlayerDialog.show=false">
			</div>
		</div>
		
		<div id="fade" class="black_overlay" ng-show="addPlayerDialog.show"></div>
		
		<!-- Edit Player -->
		<div class="white_content addPlayer" ng-show="editPlayerDialog.show">
			<div width="100%">
				<div style="float:left; width:30%;">Name:</div>
				<div style="float:left; width:70%;"><input type="text" ng-model="editedPlayer.name"></div>
			</div>
			<div width="100%" style="padding-top:5px;clear: left;">
				<div style="float:left; width:30%;">Guild:</div>
				<div style="float:left; width:70%;"><input type="text" ng-model="editedPlayer.guild"></div>
			</div>
			<div width="100%" style="padding-top:5px;clear: left;">
			<div style="float:left; width:30%;">Ingame Name:</div><div style="float:left; width:70%;"><input type="text" ng-model="editedPlayer.ingamename"></div>
			</div>
			<div width="100%" style="padding-top:5px;clear: left;">
				<div style="float:left; width:15%;">Active:</div>
				<div style="float:left; width:85%;">
				<input type="checkbox" ng-model="editedPlayer.active">
      			</div>
      		</div>
			<br>
			<div width="100%" style="padding-top:5px;clear: left;">
				<div style="float:left; width:15%;">Main:</div>
				<div style="float:left; width:85%;">
					<select ng-model="editedPlayer.build1Id" ng-options="build.id as (build.profession + ':' + build.buildname) for build in builds">
	        			<!-- <option ng-repeat="build in builds" value={{build.id}} ng-selected="build.id==editedPlayer.build1Id">{{build.profession}} : {{build.buildname}}</option> -->
	      			</select>
      			</div>
      		</div>
      		<div width="100%" style="padding-top:5px;clear: left;">
      			<div style="float:left; width:15%;">Alt 1:</div>
				<div style="float:left; width:85%;">
      			<select ng-model="editedPlayer.build2Id" ng-options="build.id as (build.profession + ':' + build.buildname) for build in builds">
        			<!-- <option ng-repeat="build in builds" value={{build.id}} ng-selected="build.id==editedPlayer.build2Id">{{build.profession}} : {{build.buildname}}</option> -->
      			</select>
      			</div>
      		</div>
      		<div width="100%" style="padding-top:5px;clear: left;">
      			<div style="float:left; width:15%;">Alt 2:</div>
				<div style="float:left; width:85%;">
      			<select ng-model="editedPlayer.build3Id" ng-options="build.id as (build.profession + ':' + build.buildname) for build in builds">
        			<!-- <option ng-repeat="build in builds" value={{build.id}} ng-selected="build.id==editedPlayer.build3Id">{{build.profession}} : {{build.buildname}}</option> -->
      			</select>
      			</div>
			</div>
			<br>
			<div style="width:100%;padding-top:5px; color:red;" ng-show="editPlayerDialog.error">
			Name, Guild and Ingame name must not be blank.<br>Main profession can not be set to none. MKay?
			</div>
			<div width="100%" style="position:absolute;bottom:5px;right:5px">
				<input style="background-color:red;" type="button" value="Delete Player" ng-click="deletePlayer()">
				<input type="button" value="Save" ng-click="saveEditedPlayer()">
				<input type="button" value="Cancel" ng-click="editPlayerDialog.show=false">
			</div>
		</div>
		
		<div id="fade" class="black_overlay" ng-show="editPlayerDialog.show"></div>
	
	
	<!-- login dialog -->
		<div class="white_content login" ng-show="loginDialog.show">
			<div width="100%">
			Username:&nbsp;<input type="text" ng-model="loginDialog.username">
			</div>
			<div width="100%" style="padding-top:5px;">
			Password:&nbsp;&nbsp;<input type="password" ng-model="loginDialog.password">
			</div>
			<div style="width:100%;padding-top:5px; color:red;" ng-show="loginDialog.error">
			Wrong username or password
			</div>
			<div width="100%" style="position:absolute;bottom:5px;right:5px">
				<input type="button" value="Login" ng-click="login()">
				<input type="button" value="Cancel" ng-click="loginDialog.show=false">
			</div>
		</div>
		
		<div id="fade" class="black_overlay" ng-show="loginDialog.show"></div>
	</div>
	</div>


}
