<!-- This is the template that defines list of players in the pool -->
<div id="{{x.id}}" 	class="player {{x.builds[x.buildindex].profession}}" 	
	ng-repeat="x in party.roles | filter:search" draggable="true" ondragstart="drag(event, 0)" ondrop="dropOnPlayer(event, 0)">
	<!-- ng-repeat="x in party.players | orderBy: 'orderno'" draggable="true" ondragstart="drag(event, 0)" ondrop="dropOnPlayer(event, 0)"> -->
		<div id="name{{x.id}}" class="name {{x.player.guild}}">{{x.player.name}}</div>
		<div id="alts" style="float:left;height:23px;margin-top:48px;z-index:-1000;margin-left:0px;">
			<div ng-if="x.builds[(x.buildindex+1)%3].profession != 'none' && x.builds[(x.buildindex+2)%3].profession != 'none'">
				<div id="player{{x.id}}alt1" class="alt {{x.builds[(x.buildindex+1)%3].profession}}" ng-click="changeMe(x, 0, (x.buildindex+1)%3)"></div>
				<div id="player{{x.id}}alt2" class="alt {{x.builds[(x.buildindex+2)%3].profession}}" ng-click="changeMe(x, 0, (x.buildindex+2)%3)" style="margin-left:25px;"></div>
			</div>
			<div ng-if="x.builds[(x.buildindex+1)%3].profession != 'none' && x.builds[(x.buildindex+2)%3].profession == 'none'">
				<div id="player{{x.id}}alt1" class="alt {{x.builds[(x.buildindex+1)%3].profession}}" ng-click="changeMe(x, 0, (x.buildindex+1)%3)"></div>
			</div>
			<div ng-if="x.builds[(x.buildindex+1)%3].profession == 'none' && x.builds[(x.buildindex+2)%3].profession != 'none'">
				<div id="player{{x.id}}alt2" class="alt {{x.builds[(x.buildindex+2)%3].profession}}" ng-click="changeMe(x, 0, (x.buildindex+2)%3)"></div>
			</div>
		</div>
		<div id="build{{x.id}}" class="build"><a href="{{x.builds[x.buildindex].buildlink}})" target="_blank">{{x.builds[x.buildindex].buildname}}</a></div>
</div>