@(message: String)

@main("Exe Raid Organizer") {
	
	<div class="page-center" ng-app="raidOrganizer" ng-controller="raidsController">
	
		<div class="orglogo">
			<img src="@routes.Assets.versioned("images/savedraids.png")">
		</div>
		<div id="bbuildlist">
			
			<table ng-table="raids" class="table" show-filter="true">
			<tr>
						<th>SEARCH FOR: </th>
						<th colspan="3" style="background-color:white;"><input type="text" ng-model="search.$" style="display:table-cell; width:100%; height:100%;"/></th>
					</tr>
					<tr>
						<th><b>NAME</b></th>
						<th><b>OWNER</b></th>
						<th><b>CREATED</b></th>
						<th><b>NOTES</b></th>
					</tr>
    			<tr ng-repeat="raid in raids | filter:search">           			
					<td><a id="buildtemplate1" class="rukica" ng-click="editRaid(raid.id)">{{raid.name}}</a></td>
					<td>{{raid.owner.name}}</td>
					<td>{{raid.created | date:'yyyy-MM-dd'}}</td>
					<td><div class="bbuildnotes"></div>{{raid.notes}}</td>
    			</tr>
			</table>
		</div>
		
		
		<!-- Edit Raid -->
		<div class="white_content addBuild" ng-show="editRaidDialog.show">
			<div width="100%">
			Raid Name:&nbsp;&nbsp;<input type="text" ng-model="editingRaid.name">
			</div>
			<br>
			<div width="100%" style="padding-top:5px;">
			Raid Notes:&nbsp;&nbsp;<textarea rows="14" cols="54" ng-model="editingRaid.notes" ></textarea>
			</div>
			<div style="width:100%;padding-top:5px; color:red;" ng-show="editRaidDialog.error">
			Raid name must not be empty. <br> You can not Rename Default Raid.
			</div>
			<div width="100%" style="position:absolute;bottom:5px;right:5px">
				<input style="background-color:red;" type="button" value="Delete Raid" ng-click="deleteRaid()">
				<!-- Sanja da vidi da li ima lepse resenje -->
				<a href="/{{editingRaid.id}}"><input style="background-color:blue;"type="button" value="Open" ></a>
				<input type="button" value="Save" ng-click="saveEditedRaid()">
				<input type="button" value="Cancel" ng-click="editRaidDialog.show=false">
			</div>
		</div>
		
		<div id="fade" class="black_overlay" ng-show="editRaidDialog.show"></div>
	
	
		<!-- login dialog -->
		<div class="white_content login" ng-show="loginDialog.show">
			<div width="100%">
			Username:&nbsp;<input type="text" ng-model="loginDialog.username">
			</div>
			<div width="100%" style="padding-top:5px;">
			Password:&nbsp;&nbsp;<input type="password" ng-model="loginDialog.password">
			</div>
			<div style="width:100%;padding-top:5px; color:red;" ng-show="loginDialog.error">
			Wrong username or password
			</div>
			<div width="100%" style="position:absolute;bottom:5px;right:5px">
				<input type="button" value="Login" ng-click="login()">
				<input type="button" value="Cancel" ng-click="loginDialog.show=false">
			</div>
		</div>
		
		<div id="fade" class="black_overlay" ng-show="loginDialog.show"></div>
	</div>


}
